/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.fl-slide-0 .fl-slide-content-wrap .fl-slide-text > p {
  display: none !important;
}
.fl-slide-0 .fl-slide-content-wrap .fl-slide-text > .fl-builder-content {
  margin-bottom: 0px !important;
}
.window_section > .fl-col-content,
.kitchen_section > .fl-col-content,
.countertops_section > .fl-col-content,
.cabinets_section > .fl-col-content,
.vanities_section > .fl-col-content,
.hardware_section > .fl-col-content {
  margin-left: 0px !important;
}
.uabb-module-content.uabb-creative-button-wrap a {
  border-radius: 0px !important;
}
ul.vendor_brand_menu_list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
header .storename li {
  list-style-type: none !important;
}

.home .window_section,
.home .kitchen_section,
.home .countertops_section,
v .cabinets_section,
.home .vanities_section,
.home .hardware_section {
  margin: 0 15px;
  width: 30%;
}
.promo-wrap {
  margin-top: -100px;
}
/* .product-detail-layout-6 .toggle-image-holder{
	width: 25% !important;
} */

.map-above-loc .sfnstoretitle {
  text-transform: capitalize !important;
}
.custombg .fl-rich-text > p {
  display: none !important;
}
.fl-slide-text-center .fl-slide-photo-wrap img {
  max-height: 410px !important;
}
.facet_filters .facet-wrap > strong {
  border-bottom: 2px solid #bd9900;
}
.button-wrapper a.button.alt {
  background: #43829e !important;
  border-color: #43829e !important;
  color: #fff !important;
  font-size: 16px !important;
}
.button-wrapper a.button.alt:hover {
  background: #bd9900 !important;
  border-color: #bd9900 !important;
  color: #fff !important;
}

ul.vendor_brand_menu_list li {
  flex: 0 0 50%;
}
.fl-page {
  width: auto;
}
.uabb-creative-menu .sub-menu > li .mega-menu-heading a {
  font-size: 26px !important;
  font-weight: bold !important;
}
#menu-floor-products-flooring-submenu li a,
#menu-lifestyle-flooring-submenu li a {
  font-size: 16px !important;
  padding: 5px !important;
}

/* header css start here */
.topBar .uabb-infobox-title,
.topBar .uabb-infobox-text-wrap p,
.topBar .fl-rich-text p {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
.FullMenu .uabb-creative-menu .menu > li > a {
  padding-left: 0px;
  padding-right: 0px;
}
.FullMenu .uabb-creative-menu ul.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.FullMenu .uabb-creative-menu ul.menu:before,
.FullMenu .uabb-creative-menu ul.menu:after {
  display: none !important;
}
header .header-menu .menu li.mega-menu .sub-menu {
  top: inherit !important;
  left: 0 !important;
  right: 0 !important;
  width: auto !important;
  margin: 0 20px 0 100px !important;
  background: #f5f5f5;
  border: 0;
  z-index: 999;
  box-shadow: none;
}
header #menu-mega-nav li.menu-item .sub-menu {
  width: 100%;
  left: 0;
}
header ul.menu li.mega-menu .sub-menu ul.menu {
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}
/* header css end here */

/* Footer css start here */
ul#menu-copy-right-bar-menu li:first-child a {
  padding-left: 0px !important;
}
ul#menu-copy-right-bar-menu li:last-child a {
  border: none !important;
}
/* Footer css end here */

/* Custom css start here */

div.gform_wrapper .gfield_time_ampm select {
  max-width: 8rem !important;
  width: calc(5rem + 20px) !important;
  -webkit-appearance: none;
  background-image: url("/wp-content/uploads/2022/02/drop-down-arrow.png");
  background-position: 91%;
  background-size: 8px;
  background-repeat: no-repeat;
  text-align: center;
  padding: 10px;
}
div.gform_wrapper.gf_browser_chrome .gfield_time_ampm select {
  max-width: 8rem !important;
}
.storename li .phone a span:before,
footer .storename li .phone a span:before {
  font-size: 18px;
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px;
}

/* Customize Css*/

div#ajaxstorelisting {
  background: #fff;
  padding: 20px !important;
  /* margin-top: 18px !important; */
  position: absolute;
  top: 63px;
  left: 0;
  right: 20px;
  overflow-y: scroll;
  max-height: 360px;
  display: none;
  z-index: 99;
}
.header-location .location_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 52px;
}
.location_div .bb_location_name {
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 20px;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  display: block;
  max-width: 230px;
  text-transform: uppercase;
}

.location_div .bb_loc_address {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.45px;
  line-height: 18px;
}
.location-section {
  display: flex;
  align-items: start;
  margin-bottom: 10px;
}
.location-section .makemystore_header {
  margin-right: 10px;
  margin-top: 3px;
  position: relative;
}
.location-section .makemystore_header input {
  visibility: hidden;
  position: absolute;
  top: 5px;
  left: 5.5px;
}
.activebb.location-section .makemystore_header input + label:before {
  background-color: #bd9900 !important;
}
.location-section .makemystore_header input + label:before {
  content: "";
  border: 1px solid #979797;
  background-color: #f5f5f5;
  height: 20px;
  width: 20px;
  display: inline-block;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: 10px;
}
.location-section .location-info-section a.location-name {
  font-size: 14px;
  color: #000 !important;
  font-weight: 500;
}
.location-section .location-info-section p.store-add {
  font-size: 11px;
  line-height: 15px;
  color: #ababab !important;
  font-weight: 600;
}
.location-section .location-info-section p.store-phone a.phone_bb {
  color: #bd9900;
  font-size: 12px;
  letter-spacing: 0.45px;
  line-height: 18px;
}
.header-location {
  position: relative;
  cursor: pointer;
}
.header-location .fl-module-content.fl-node-content {
  background: #bd9900;
  padding: 7px 20px 0;
  margin-left: 0px !important;
}
i.ua-icon.ua-icon-map-pin,
i.ua-icon.ua-icon-map-pin * {
  color: #fff !important;
}
div#sfnlocator-wrap {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  padding-right: 0px;
}
#wpsl-result-list {
  width: 100% !important;
}
.find-a-retailer-row #wpsl-stores {
  height: 500px !important;
}
div#wpsl-stores .wpsl-store-location {
  position: relative;
}
div#wpsl-stores .wpsl-store-location .location_title_wrapper {
  color: #000;
}
div#wpsl-stores .wpsl-store-location span.wpsl-street {
  line-height: 18px;
  margin-bottom: -5px;
  font-size: 14px;
  letter-spacing: 0.53px;
  line-height: 18px;
  font-weight: 500;
}
div#wpsl-stores .wpsl-store-location span {
  color: #000 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 500 !important;
}
span.wpsl-country {
  display: none;
}
div#wpsl-stores .wpsl-store-location p.wpsl-contact-details {
  display: flex;
}
div#wpsl-stores .wpsl-store-location p.wpsl-contact-details span {
  margin-right: 10px;
  color: #000;
}
div#wpsl-stores .wpsl-store-location p.wpsl-contact-details span a {
  color: #000;
}
div#wpsl-stores .wpsl-store-location .Coupon-wrapper {
  display: flex;
}
div#wpsl-stores .wpsl-store-location .Coupon-wrapper a.makemystore.fl-button {
  background: #bd9900;
}
div#wpsl-stores .wpsl-store-location .Coupon-wrapper .fl-button {
  padding: 14px;
  background: #bd9900;
  outline: none;
  border: 0;
  margin: 0 10px 10px 0;
  color: #ffffff;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.53px;
  line-height: 15px;
}
.gfield_captcha_input_container.math_medium input {
  width: auto !important;
}
.icon-alignment .infobox-left .uabb-imgicon-wrap {
  margin-top: -6px !important;
}
header .infobox-left .uabb-imgicon-wrap {
  vertical-align: sub !important;
}
.uabb-gf-style .gform_wrapper .gform_footer {
  text-align: left !important;
}
.uabb-infobox-title-prefix {
  font-family: Jost, sans-serif !important;
  font-weight: 400 !important;
  font-size: 30px !important;
  text-transform: uppercase !important;
}
.uabb-creative-button-wrap a {
  background: #43829e !important;
  border: 1px solid #43829e !important;
}
.uabb-creative-button-wrap a:hover {
  background: #bd9900 !important;
  border: 1px solid #bd9900 !important;
}

/* Near Footer Map Sec CSS*/
.wpsl-search {
  display: none !important;
}
li.mystore_location {
  background: #ede8cf;
}
li.mystore_location .your_store {
  color: #bd9900;
  font-size: 14px;
  font-weight: bold;
}
li.mystore_location .location-name h3 a {
  color: #43829e;
  font-size: 18px;
  font-weight: 600;
}
li.mystore_location .location-name h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.location_title_wrapper .location-name h3 a {
  color: #000;
  font-size: 18px;
  font-weight: 600;
}
.location_title_wrapper .location-name h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.location-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.location-address {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2px;
  margin-top: -1px;
  text-transform: uppercase;
  font-weight: 600;
}
#wpsl-result-list li p {
  padding-left: 0;
  margin: 0 0 12px 0;
}
div#wpsl-stores
  li.mystore_location
  .wpsl-store-location
  p.wpsl-contact-details
  span
  a {
  color: #43829e;
}
.storelocation {
  padding: 20px 0;
}
.storelocation .storehours {
  padding: 30px 0 10px;
}
.storelocation .store_links_main {
  padding: 20px 0 0;
}
span.autorized {
  padding: 0px 0 10px;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
}
span.siteUrl {
  display: block;
  padding: 0px 0px 10px;
}

span.getLable {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}
.bottomsection {
  padding: 0 0 40px;
}
.sfnstoretitle {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.mapcon_left_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
i.ua-icon.ua-icon-location-pin {
  font-size: 30px !important;
  padding-right: 10px;
  color: #bd9900;
  margin-left: -5px;
}

.sfnstoretitle {
  color: #bd9900 !important;
}
.store_map_wrap > .wpsl-gmap-canvas {
  height: 510px !important;
}
.bottomsection h2 {
  text-align: center;
}
.product_offered,
.store_services {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 10px 0 !important;
}
.mapcon_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.store_services li a,
.product_offered li a,
.store_services .fl-page a.button {
  font-size: 14px !important;
  background-color: transparent !important;
  color: #bd9900 !important;
  font-weight: 500 !important;
  margin-right: 10px;
  text-decoration: underline !important;
}
.storeloc-content table.wpsl-opening-hours td.today_hour span,
.storeloc-content table.wpsl-opening-hours td.today_hour time {
  display: inline-block;
  margin-right: 10px;
}
table.wpsl-opening-hours td {
  font-size: 15px !important;
  text-transform: uppercase;
  font-weight: 400;
}
.storeloc-content table.wpsl-opening-hours td.today_hour {
  color: #bd9900 !important;
  font-weight: 400;
}
.storelocation tr {
  padding: 3px 0 !important;
  display: block;
}
.storelocation .storehours > span {
  font-weight: 600;
}
.storeloc-content a.fl-button span {
  color: #fff !important;
}
.storeloc-content a.fl-button,
.mapcon_right a {
  color: #fff !important;
  text-decoration: none !important;
  background-color: #bd9900;
  font-family: "Helvetica", Verdana, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  border-style: none;
  border-width: 0px;
  border-color: initial;
  border-radius: 0px;
  padding: 15px 20px;
  margin: 10px 0 20px;
  display: inline-block;
}
.mapcon_right a {
  margin: 0px !important;
  padding: 15px 20px;
}
.storeloc-content a.fl-button:hover,
.mapcon_right a:hover {
  background-color: #43829e;
}
.store_reviews:hover * {
  color: #43829e !important;
}
.makemystore_wrap a,
li.mystore_location .get_details a {
  background-color: #43829e !important;
}
div#wpsl-stores,
div#wpsl-direction-details,
div#wpsl-gmap {
  height: 500px !important;
}
div#ajaxstorelisting {
  background: #fff;
  padding: 20px !important;
  /* margin-top: 18px !important; */
  position: absolute;
  top: 86px;
  left: 0;
  right: 20px;
  overflow-y: scroll;
  max-height: 360px;
  display: none;
  z-index: 99;
}
div#ajaxstorelisting::-webkit-scrollbar {
  width: 0.7em !important;
}
div#ajaxstorelisting::-webkit-scrollbar-thumb {
  background-color: #bd9900 !important;
}
div#ajaxstorelisting::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%) !important;
}
/*retailer search box*/

.page-id-1127989 .wpsl-search {
  display: block !important;
}

.wpsl-search {
  background: transparent !important;
  padding-top: 0;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform input {
  border: 1px solid #000;
  border-radius: 3px;
  width: 100%;
  font-weight: 500 !important;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform input:focus {
  border: 1px solid #bd9900;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-input {
  float: none;
  width: 100%;
  display: block;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-input div {
  float: none;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-input div label {
  width: 100%;
  display: block;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 0 5px;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-select-wrap {
  width: 70%;
  display: unset;
}
.wpsl-search
  div#wpsl-search-wrap
  form#locsearchform
  .wpsl-select-wrap
  div#wpsl-radius {
  width: 95%;
  display: block;
}
.wpsl-search {
  padding: 12px 12px 0 0px !important;
}
.wpsl-search
  div#wpsl-search-wrap
  form#locsearchform
  .wpsl-select-wrap
  div#wpsl-radius
  .wpsl-dropdown {
  width: 100%;
  border: 1px solid #474747;
}
.wpsl-search
  div#wpsl-search-wrap
  form#locsearchform
  .wpsl-select-wrap
  div#wpsl-radius
  label {
  display: none;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-search-btn-wrap {
  width: 30%;
  display: unset;
  margin: 0;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform input#wpsl-search-btn {
  background: #bd9900;
  border-color: #bd9900;
  color: #fff;
  border-radius: 0px;
  display: block;
  margin: 0;
  padding: 12px 10px;
  text-transform: uppercase !important;
  letter-spacing: 0.75px;
}
.wpsl-search
  div#wpsl-search-wrap
  form#locsearchform
  input#wpsl-search-btn:hover {
  background: #43829e !important;
  border-color: #43829e !important;
}
/* search end */

/* PLP page customized changes */
.facet-wrap {
  display: block !important;
}
.product-plp-grid.product-grid.swatch a.fl-button.plp_box_btn {
  display: none !important;
}

.facetwp-facet.facetwp-type-dropdown select.facetwp-dropdown {
  border-radius: 4px;
  height: 69px;
  border-color: transparent;
  font-size: 14px;
  line-height: 20px;
  color: #0c141d;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.38);
  padding: 10px 20px;
}
.facetwp-facet.facetwp-facet-search.facetwp-type-search
  span.facetwp-input-wrap
  input.facetwp-search {
  border-radius: 4px;
  height: 69px;
  border-color: transparent;
  font-size: 14px;
  line-height: 20px;
  color: #0c141d;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.38);
  padding: 10px 50px 10px 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 400px !important;
}
.facetwp-facet.facetwp-facet-search.facetwp-type-search
  span.facetwp-input-wrap {
  width: 100%;
}
.facetwp-facet.facetwp-facet-search.facetwp-type-search
  span.facetwp-input-wrap
  .facetwp-icon {
  right: 10px;
}
.facet-wrap strong {
  font-size: 14px;
  line-height: 20px;
  color: #0c141d;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
}
.searchfacet .facet-wrap {
  display: block;
}
.product-plp-grid .product-row .fl-post-grid-image {
  position: relative;
}
.product-plp-grid .product-row .fl-post-grid-image div#roomvo {
  position: absolute;
  bottom: 0;
  z-index: 10;
  right: 5px;
  bottom: 10px;
  display: inline-block;
  width: auto !important;
  height: auto !important;
  padding: 10px !important;
}

.product-plp-grid .product-row .fl-post-grid-image div#roomvo a.roomvo-stimr {
  height: 56px;
  background-color: #141414 !important;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  transition: all 0.6s;
  color: #fff;
  padding: 12px 25px;
  cursor: pointer;
  text-decoration: none;
}
.product-plp-grid .product-row .fl-post-grid-image #roomvo a.roomvo-stimr {
  width: 56px;
  padding: 0;
  border-radius: 100%;
}
.product-plp-grid
  .product-row
  .fl-post-grid-image
  #roomvo
  a.roomvo-stimr:hover {
  width: 200px;
  border-radius: 30px;
  padding: 10px;
  background: #bd9900 !important;
}
.product-plp-grid
  .product-row
  .fl-post-grid-image
  div#roomvo
  a.roomvo-stimr
  i.fa.fa-camera {
  font-size: 25px;
}
.product-plp-grid
  .product-row
  .fl-post-grid-image
  div#roomvo
  a.roomvo-stimr
  span.room_span {
  display: none;
  color: #fff;
}
.product-plp-grid
  .product-row
  .fl-post-grid-image
  div#roomvo
  a.roomvo-stimr:hover
  span.room_span {
  display: block;
}
.product-plp-grid
  .product-row
  .fl-post-grid-image
  div#roomvo
  a.roomvo-stimr:hover
  i.fa.fa-camera {
  margin-right: 10px;
}
.product-plp-grid .product-row .camera-image {
  position: absolute;
  bottom: 25px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 5px 0;
  transition: width 1s;
  width: 55px;
}
.product-plp-grid .product-row .camera-image a.roomvo_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-plp-grid .product-row .camera-image p.view_room {
  display: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  margin: 0 0 0 10px;
}
.product-plp-grid .product-row .camera-image img {
  border-radius: 100%;
  width: 55px;
  height: 55px;
  background: #000;
}
.product-plp-grid .product-row .camera-image:hover {
  background: #bd9900;
  padding: 5px 20px;
  border-radius: 30px;
  width: 210px;
}
.product-plp-grid .product-row .camera-image:hover p.view_room {
  display: block;
}
.product-plp-grid .product-row .bb_special,
.product-plp-grid .product-row .bb_offer {
  position: absolute;
  top: 30px;
  left: -15px;
}
.product-plp-grid .product-row .bb_offer {
  display: none;
}
.product-plp-grid .product-row .bb_special,
.product-plp-grid .product-row .bb_offer {
  border-radius: 4px;
  background-color: #bd9900;
  box-shadow: 0 2px 33px 0 rgb(0 0 0 / 50%);
  padding: 10px 20px;
}
.product-plp-grid .product-row .bb_special p,
.product-plp-grid .product-row .bb_offer p {
  color: #fffffe;
  font-size: 20px;
  letter-spacing: 0.75px;
  line-height: 35px;
  margin: 0;
}

.product-plp-grid .product-row .product-grid.btn-grey h4 .collection_text {
  color: #bd9900 !important;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  margin: 0 0 10px;
}
.page-id-1261414
  .product-plp-grid
  .product-row
  .product-grid.btn-grey
  h4
  .collection_text {
  min-height: 44px !important;
}
.product-plp-grid .product-row .product-grid.btn-grey h4 .color_text {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: #0f0f0f;
  margin: 0 0 10px;
  display: block;
}
.product-plp-grid .product-row .product-grid.btn-grey h4 .brand_text {
  text-transform: uppercase;
  color: #484848;
  font-size: 14px;
  letter-spacing: 1.21px;
  line-height: 20px;
  font-weight: 500;
}
.product-plp-grid .product-row .product-grid.btn-grey .product-variations1 h5 {
  color: #020050;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 10px !important;
}
.facetwp-facet.facetwp-facet-load_more.facetwp-type-pager
  button.facetwp-load-more {
  height: 54px;
  width: 262px;
  border-radius: 0;
  background-color: #bd9900;
  box-shadow: 0 2px 33px 0 rgb(0 0 0 / 50%);
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
  border: 0;
  text-transform: uppercase;
}
.facetwp-facet.facetwp-facet-load_more.facetwp-type-pager
  button.facetwp-load-more:hover {
  background-color: #43829e;
}

/* PLP page customized changes */

/* PDP page changes  */
.container .row .product-detail-layout-6 {
  max-width: 1200px !important;
  width: 100%;
  margin: 0 auto !important;
  /* padding-top: 200px !important; */
}
.pdp_header_banner {
  height: 400px;
  width: 100%;
  position: relative;
}
.pdp_header_banner::after {
  border-radius: inherit;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.35);
}
.pdp_header_banner img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.product-detail-layout-6 .product-box h1 {
  color: #0c141d;
  font-size: 28px;
  letter-spacing: 2.42px;
  line-height: 41px;
}
.product-detail-layout-6 .product-box h2 {
  color: #0f0f0f;
  font-size: 55px !important;
  letter-spacing: 0;
  line-height: 75px;
}
.product-detail-layout-6 .product-box .row:first-child .col-md-6:first-child {
  width: 100% !important;
}
.product-detail-layout-6 .product-box .post_typetext p {
  color: #bd9900;
  font-size: 16px;
  letter-spacing: 1.21px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.product-detail-layout-6 .product-box .product_description {
  color: #000000;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 26px;
  padding: 20px 0 0;
}
.product-detail-layout-6 .dual-button a {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 19px;
  border-radius: 0;
  background: #43829e !important;
  text-decoration: none;
}
.product-detail-layout-6 .dual-button a:hover {
  background: #bd9900 !important;
}
a.button.alt.custompdpbtn.getcoupon-btn {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 19px;
  border-radius: 4px;
  background: #bd9900;
  text-decoration: none;
}
a.button.alt.custompdpbtn.getcoupon-btn:hover {
  background: #000;
}
.product-detail-layout-6 .product-attributes > h3 {
  color: #0c141d;
  font-size: 35px;
  letter-spacing: 1.42px;
  line-height: 44px;
}
div#product-attributes-wrap {
  background-color: rgba(246, 243, 241, 0.57);
  padding: 20px 0;
  margin: 90px 0 30px;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.product-detail-layout-6 .product-attributes tr th {
  color: #484848;
  font-size: 20px;
  letter-spacing: 1.73px;
  line-height: 30px;
  text-align: right;
  font-weight: 500;
  text-transform: uppercase;
  vertical-align: middle;
}
.product-detail-layout-6 .product-attributes tr td {
  color: #0c141d;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.73px;
  line-height: 30px;
  vertical-align: middle;
  max-width: 180px;
}

.related_pro {
  color: #0c141d;
  font-size: 35px;
  letter-spacing: 1.42px;
  line-height: 44px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.container .row .product-detail-layout-6 #product-images-holder .bb_quickship {
  border-radius: 4px;
  background-color: #bd9900;
  box-shadow: 0 2px 33px 0 rgb(0 0 0 / 50%);
  padding: 10px 20px;
  position: absolute;
  top: 30px;
  left: -15px;
  height: auto !important;
  min-height: auto !important;
  width: auto !important;
  min-width: auto;
}
.container
  .row
  .product-detail-layout-6
  #product-images-holder
  .bb_quickship
  p {
  color: #fffffe;
  font-size: 20px;
  letter-spacing: 0.75px;
  line-height: 35px;
  margin: 0;
  display: block;
  text-transform: uppercase;
}
.container
  .row
  .product-detail-layout-6
  #product-images-holder
  .bb_quickship
  p:hover {
  text-decoration: none;
}
#product-images-holder {
  position: relative;
  overflow: unset;
}
.product-detail-layout-6 .imagesHolder #roomvo {
  padding: 10px !important;
  bottom: 24px;
}
.product-detail-layout-6 .imagesHolder #roomvo a {
  width: 56px;
  padding: 0;
  border-radius: 100%;
  cursor: pointer;
}
.product-detail-layout-6 .imagesHolder #roomvo a:hover {
  width: 200px;
  border-radius: 30px;
  padding: 10px;
  background: #bd9900 !important;
}
.product-detail-layout-6 .imagesHolder #roomvo a span.room_span {
  display: none;
  color: #fff;
}
.product-detail-layout-6 .imagesHolder #roomvo a:hover span.room_span {
  display: block;
}

.product-detail-layout-6 .imagesHolder #roomvo a i.fa-camera {
  margin-right: 0 !important;
}
.product-detail-layout-6 .imagesHolder #roomvo a:hover i.fa-camera {
  margin-right: 10px !important;
  /* background: #000;
    border-radius: 100%;
    padding: 10px !important; */
}
.product-swatch .img-responsive .popup-overlay-link {
  border: 6px solid #ffffff;
  box-shadow: 0 16px 74px 0 rgb(0 0 0 / 41%);
}
.product-detail-layout-6 .slide.selected-slide:after {
  left: 0;
  right: 0;
  margin: 0 auto;
}
.product-grid a {
  line-height: 40px;
}
.product-detail-layout-6 .product-box .product_description {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 26px;
  padding: 10px 0 0;
}
.product-detail-layout-6 .image-expander {
  right: 115px !important;
}
/* PDP page changes  */

.location-icon-main .find_wrap p.location-name,
.location-icon-main .find_wrap .bb_location_name {
  font-size: 16px;
  font-weight: 400;
  color: #bd9900 !important;
  line-height: 20px;
  margin: 0 0;
  letter-spacing: 0.6px;
}

.location-icon-main .find_wrap span.location-add,
.location-icon-main .find_wrap .bb_loc_address {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400 !important;
  letter-spacing: 0.45px;
}

/*retailer map inner info box*/
.homepage_locationStore #wpsl-stores,
.homepage_locationStore #wpsl-direction-details,
.homepage_locationStore #wpsl-gmap,
.homepage_locationStore #wpsl-stores {
  height: 600px !important;
}
div#wpsl-stores .wpsl-store-location .location_title_wrapper {
  color: #000;
}
div#wpsl-stores .wpsl-store-location .your_store {
  font-size: 14px;
  font-weight: 400;
  color: #000;
}
div#wpsl-stores .wpsl-store-location h3 {
  margin: 0;
  width: 70%;
}
div#wpsl-stores li.mystore_location .wpsl-store-location h3 a {
  color: #bd9900;
}
div#wpsl-stores .wpsl-store-location h3 a {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  line-height: 18px;
  display: block;
}

div#wpsl-stores .wpsl-store-location span {
  color: #000;
  font-size: 14px;
  line-height: 18px;
}
div#wpsl-stores .wpsl-store-location span.wpsl-street {
  line-height: 18px;
  margin-bottom: -5px;
}
div#wpsl-stores .wpsl-store-location span.distance_unit {
  letter-spacing: 0.75px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  float: right;
  margin: -18px 0 0 !important;
}

div#wpsl-stores .wpsl-store-location p.wpsl-contact-details {
  display: flex;
}
div#wpsl-stores .wpsl-store-location p.wpsl-contact-details span {
  margin-right: 10px;
  color: #000;
}
div#wpsl-stores .wpsl-store-location p.wpsl-contact-details span a {
  color: #000;
}
div#wpsl-stores .wpsl-store-location p.wpsl-contact-details a.site_loc_url {
  color: #bd9900;
}
div#wpsl-stores li.mystore_location .wpsl-store-location .Coupon-wrapper {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
div#wpsl-stores .wpsl-store-location .Coupon-wrapper {
  display: flex;
}
div#wpsl-stores
  .wpsl-store-location
  .Coupon-wrapper
  a.makemystore.fl-button:hover {
  background: #000;
}
div#wpsl-stores .wpsl-store-location {
  position: relative;
}
.location_title_wrapper h3 a {
  font-size: 14px;
  outline: none;
}
.wpsl-info-window.custominfo_wrapper .store_thumb {
  float: left;
  width: 40%;
}
.wpsl-info-window.custominfo_wrapper .info_wrapper {
  float: right;
  width: 60%;
}

#wpsl-gmap img,
.wpsl-gmap-canvas img {
  width: 100%;
}
.wpsl-info-window .info_wrapper .location_title_wrapper {
  padding-top: 10px;
}
.wpsl-info-window .info_wrapper .location_title_wrapper h3 {
  margin: 0;
  line-height: 1 !important;
  color: #bd9900;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
}
.wpsl-info-window .info_wrapper .infomap_div {
  display: flex;
  margin: 10px 0px 0px !important;
  color: #43829e;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.38px;
  line-height: 13px;
}

.wpsl-info-window .info_wrapper .location_title_wrapper h3 a {
  font-size: 12px;
  line-height: 14px;
  color: #bd9900;
  font-weight: 400;
  display: block;
  margin: 0 0 5px;
}
.wpsl-info-window i.ua-icon.ua-icon-location-pin {
  color: #43829e;
  font-size: 24px !important;
  margin-top: -10px;
}
.wpsl-info-window span,
.wpsl-more-info-listings span {
  font-size: 9px;
  line-height: 15px;
}
.wpsl-info-window span.store_msg {
  margin-top: 10px;
  margin-left: 4px;
  margin-bottom: 10px;
  color: #000000;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 0.34px;
  line-height: 13px;
}
#wpsl-wrap .wpsl-info-window p {
  font-size: 10px;
  margin-bottom: 0px !important;
}
.gm-style-iw.gm-style-iw-c {
  min-width: 270px !important;
}
#wpsl-gmap .wpsl-info-window,
.wpsl-gmap-canvas .wpsl-info-window {
  max-width: 350px !important;
}
#wpsl-gmap div.wpsl-info-window {
  max-width: 330px !important;
}
.infomap_div {
  display: flex;
  align-items: center;
}

.vendor_brand_menu_list li a {
  font-weight: 500 !important;
  font-size: 16px !important;
  text-transform: capitalize !important;
  padding: 5px !important;
}
#menu-mega-nav .fl-module-heading .fl-heading span {
  font-size: 22px !important;
  font-weight: 900 !important;
}
.flooring-menu-row {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -51vw;
  margin-right: -50vw;
}
.uabb-creative-menu .sub-menu > li,
.uabb-creative-menu .sub-menu > li span,
.uabb-creative-menu .sub-menu > li a {
  font-family: Jost, sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  text-transform: capitalize !important;
}

a.wpsl-directions {
  display: none;
}

.activebb.location-section .location-info-section p.store-add {
  color: #000 !important;
}

.location-section .location-info-section p.store-phone a.phone_bb:before {
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  font-size: 14px !important;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px !important;
}

.ourVendorsDynamic .fl-rich-text p {
  margin: 0;
  padding: 0;
}
ul.vendor_brand_image_list {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}
ul.vendor_brand_image_list li {
  width: 33.33%;
  margin: 20px 0;
  text-align: center;
}
.landingPage-VendorsRow ul.vendor_brand_image_list li {
  width: 20%;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #fff !important;
  color: #5d697b !important;
  border-radius: 30px !important;
  font-family: "Lato", sans-serif !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: none !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #95c840 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #54575a !important;
}
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #003b4a;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #fff !important;
  opacity: 0.7;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #5d697b !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #003b4a !important;
  border: 1px solid #000 !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #5d697b !important;
  background-color: #fff !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #5d697b !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #003b4a !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 30px !important;
  font-family: "Lato", sans-serif !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #95c840 !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #003b4a !important;
}

@media (max-width: 768px) {
  ul.vendor_brand_image_list li {
    width: 50%;
    margin: 5px 0;
  }
  .window_section,
  .kitchen_section,
  .countertops_section,
  .cabinets_section,
  .vanities_section,
  .hardware_section {
    margin: 0 auto !important;
  }
  .landingPage-VendorsRow ul.vendor_brand_image_list li {
    width: 25%;
  }
  div.uabb-creative-menu #menu-copy-right-bar-menu.menu > li > a {
    border-right: 0px !important;
  }
  .FullMenu .uabb-creative-menu ul#menu-footer-main-menu.menu {
    flex-direction: column !important;
  }
}

@media (max-width: 480px) {
  ul.vendor_brand_image_list {
    flex-direction: column;
  }
  ul.vendor_brand_image_list li,
  .landingPage-VendorsRow ul.vendor_brand_image_list li {
    width: 100%;
  }
}

.storename li {
  list-style-type: none !important;
}
.padding-issue .storename {
  padding-left: 0px !important;
}
.gform_wrapper.gravity-theme .gfield input,
.gform_wrapper.gravity-theme .gfield select {
  vertical-align: middle !important;
}

/*Location Page Css*/
i.ua-icon.ua-icon-location-pin {
  padding-right: 0px !important;
}

.ip-location-page li {
  list-style-type: none !important;
}
.ip-location-page h1.uabb-infobox-title-prefix {
  font-size: 36px !important;
  line-height: 1.4 !important;
  letter-spacing: 0px !important;
  font-family: "Jost", sans-serif !important;
  font-weight: 700 !important;
  font-style: normal;
  text-transform: capitalize !important;
  margin-top: -10px;
}
.ip-location-page .store_reviews {
  padding: 10px 0;
}
h3.uabb-infobox-title {
  font-weight: 600 !important;
  color: #484848;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  line-height: 1.45;
  font-style: normal;
  padding: 0;
  word-wrap: break-word;
}
.ip-location-page .logo-wrap h3.uabb-infobox-title {
  padding: 4px 0 10px !important;
  display: block !important;
  font-size: 16px !important;
  text-transform: uppercase !important;
  font-weight: 300 !important;
}
.ip-location-page .logo-wrap img.uabb-photo-img.size-full {
  max-width: 191px;
}
.ip-location-page .hours-sec h3.uabb-infobox-title {
  color: #484848;
  font-family: "Jost", sans-serif;
  font-size: 18px !important;
  font-weight: 300;
  line-height: 1.45;
  font-style: normal;
  padding: 0;
  word-wrap: break-word;
  padding-top: 23px !important;
}
.map-above-loc .address p {
  color: #484848;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.45;
  font-style: normal;
  padding: 0;
  word-wrap: break-word;
}
.map-above-loc .storename,
.ip-location-page .storename {
  padding-left: 0px !important;
}
.ip-location-page .storename p,
.map-above-loc p {
  margin-bottom: 0px !important;
}
.map-above-loc .address a {
  display: flex;
  flex-wrap: wrap;
  padding-left: 48px;
}
.ip-location-page ul.store-opening-hrs {
  padding-left: 0px;
}
.ip-location-page .store_links_main {
  padding: 20px 0px 0px;
}
.ip-location-page ul.store-opening-hrs * {
  font-size: 15px !important;
  text-transform: uppercase;
  font-weight: 400;
}
.ip-location-page .hours-sec .uabb-infobox-text.uabb-text-editor > p {
  display: none;
}
.ip-location-page ul.store-opening-hrs li {
  padding: 5px 0;
}
.map-above-loc > .fl-module-content > .fl-rich-text h2:before {
  content: "\ea32";
  font-size: 30px !important;
  padding-right: 10px;
  color: #bd9900;
  margin-left: -5px;
  font-family: "Ultimate-Icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.map-above-loc .sfnstoretitle {
  color: #bd9900 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hours-sec .phone * {
  color: #bd9900 !important;
}
.hours-sec .phone *:hover {
  color: #004261 !important;
}
.ip-location-page ul.store-opening-hrs .today_day {
  color: #bd9900 !important;
  font-weight: 400;
}
.ip-location-page ul.store-opening-hrs .today_day span.today_hour {
  padding-left: 10px;
}
div.gform_wrapper.gravity-theme .gfield select.large {
  margin-top: 2px !important;
}
ul.social-icons li a:hover i {
  color: #004261 !important;
}

/*LOcation Page Css*/

.gform_wrapper.gravity-theme .gfield .ginput_container_date input {
  margin-top: 0px !important;
  width: 100% !important;
}

legend {
  border-bottom: 0px solid #e5e5e5 !important;
}
.gform_wrapper.gravity-theme .hour_minute_colon {
  margin-top: 15px !important;
}
.fc_today_hour * {
  font-size: 14px !important;
  text-transform: uppercase;
  font-weight: 600;
}
.fc_today_hour p,
.fc_location_phone .storename {
  margin-bottom: 0px !important;
}
.fc_location_phone .phone * {
  color: #bd9900 !important;
}
.fc_location_phone .phone:hover * {
  color: #004261 !important;
}
.fc_location_phone span {
  font-weight: 600;
}
.header-location a.fl-icon-text-link.fl-icon-text-wrap p span {
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 20px;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  display: block;
  max-width: 230px;
  text-transform: uppercase;
}
.header-location .address p {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.45px;
  line-height: 18px;
  margin-bottom: 0px !important;
}
.header-location .address {
  display: flex;
}
.header-location ul.storename {
  padding-left: 0;
}
.header-location ul.storename > p {
  display: none;
}
.header-location .fl-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-location p {
  margin-bottom: 0px !important;
}
.header-location .fl-module-content.fl-node-content {
  padding: 12px 20px 0px !important;
}
.header-location i.fal.fa-map-marker-alt {
  margin-top: -17px;
}
.header-location i.fal.fa-map-marker-alt:before {
  font-size: 24px !important;
}

#wpsl-stores,
#wpsl-direction-details,
#wpsl-gmap {
  height: 500px !important;
}
.product-detail-layout-6 .image-expander {
  bottom: 37px !important;
}
.hover-color-issue a:hover {
  color: #004261 !important;
}
footer .storename li {
  list-style-type: none !important;
}
footer ul.storename {
  padding-left: 0px;
}
footer .address > a {
  color: #000 !important;
}
footer .address > a p {
  margin-bottom: 0px !important;
}
.product-grid .product-row .fl-post-grid-post .fl-post-grid-image > a > img {
  min-height: 230px !important;
}
.open_sidebar {
  display: none !important;
}
.wpsl-gmap-canvas .store_thumb img {
  max-width: 100px;
  padding-top: 25px;
  padding-left: 10px;
}
.vinyl-products .collection_text ~ a {
  min-height: 40px !important;
}
.searchModule {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9;
}
.fas.fa-search {
  cursor: pointer;
}
#gform_confirmation_message_4 {
  text-align: center !important;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .header-location .fl-module-content.fl-node-content {
    margin: 0 !important;
    text-align: center !important;
  }
  .wpsl-search div#wpsl-search-wrap form#locsearchform input#wpsl-search-btn {
    padding: 7.4px 10px;
    font-size: 10px;
    line-height: 1 !important;
  }
  .container .row .product-detail-layout-6 .product-variations img {
    min-height: 100px;
  }
  .product-detail-layout-6 .image-expander {
    right: 35px !important;
    bottom: 47px !important;
  }
  .empty-col {
    width: 15% !important;
  }

  h2.uabb-infobox-title {
    font-size: 55px !important;
  }
  div.fl-module-uabb-advanced-menu.fl-module
    div.uabb-creative-menu
    .menu
    > li
    > a {
    font-size: 13px !important;
  }
  .copyright-sec p {
    text-align: left !important;
  }
  .storeloc-map .mapcon_right a {
    min-width: 160px !important;
  }
  .location_div .bb_location_name {
    font-size: 14px;
  }
  div.fl-module-uabb-advanced-menu.fl-module
    .uabb-creative-menu
    #menu-mega-nav.menu
    > li
    > .uabb-has-submenu-container
    > a,
  div.fl-module-uabb-advanced-menu.fl-module
    .uabb-creative-menu
    .menu
    > li
    > a {
    font-size: 19px !important;
  }
  div.searchIcon > .fl-module-content {
    margin-top: 6px;
  }
}
@media (max-width: 768px) {
  .FullMenu .uabb-creative-menu ul#menu-footer-main-menu.menu {
    flex-direction: column !important;
  }
  .wpsl-search div#wpsl-search-wrap form#locsearchform input#wpsl-search-btn {
    padding: 7.4px 10px;
    font-size: 10px;
    line-height: 1 !important;
  }
  .topBar .infobox-icon-left .uabb-infobox-content {
    width: auto !important;
  }
  div.product-detail-layout-6 .slide.selected-slide:after {
    left: 0% !important;
  }
  .topBar * {
    text-align: center !important;
  }
  #rmp_menu_trigger-1282176 {
    top: 125px !important;
  }
  .header-location .fl-module-content.fl-node-content {
    margin-left: 20px !important;
    text-align: center;
  }
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0px !important;
  }
  div.fl-builder-content
    .fl-module-content-slider
    .fl-slide
    .fl-slide-text
    h4.uabb-infobox-title-prefix {
    font-family: Jost, sans-serif !important;
    font-weight: 400 !important;
    font-size: 30px !important;
    text-transform: uppercase !important;
    text-align: center !important;
    line-height: 1.2 !important;
  }
  div.fl-builder-content
    .fl-module-content-slider
    .fl-slide
    .fl-slide-text
    h1.uabb-infobox-title {
    font-size: 50px !important;
    line-height: 50px !important;
    text-align: center !important;
  }
  div.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text * {
    text-align: center !important;
  }
  div#wpsl-wrap {
    display: flex;
    flex-direction: column;
  }
  div#wpsl-stores,
  div#wpsl-direction-details,
  div#wpsl-gmap {
    width: 100% !important;
  }
  h2.uabb-infobox-title {
    font-size: 45px !important;
  }
  div.product-detail-layout-6 .image-expander {
    top: 373px !important;
    left: 80% !important;
  }
}
.retailer-map div#wpsl-gmap {
  height: 654px !important;
}

@media (max-width: 500px) {
  .wpsl-search div#wpsl-search-wrap form#locsearchform input#wpsl-search-btn {
    padding: 5px 10px !important;
    font-size: 10px !important;
    margin-top: 10px !important;
  }
  ul#menu-copy-right-bar-menu li a {
    padding: 0px !important;
  }
  .product-detail-layout-6 .product-box h2 {
    font-size: 35px !important;
  }
  .product-detail-layout-6 .dual-button a {
    font-size: 10px !important;
  }
  h5.uabb-infobox-title-prefix {
    font-size: 20px !important;
  }
  h1.uabb-infobox-title {
    font-size: 32px !important;
  }
  .topBar ~ .fl-row .uabb-photo-mob-align-center {
    text-align: left;
  }
  .wpsl-gmap-canvas .store_thumb img {
    max-width: 80px;
    padding-top: 45px;
    padding-left: 10px;
  }
  div.product-detail-layout-6 .image-expander {
    top: 227px !important;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .product-plp-grid .product-row .product-grid.btn-grey h4 .collection_text {
    min-height: 44px;
  }
  .main-header .fl-col-group {
    display: flex !important;
    align-items: center !important;
  }
  .locationflyerCol {
    width: 40%;
  }
  .header-search-icon {
    width: 26%;
  }
  .main-header .empty-col {
    width: 9% !important;
  }
  .headerMenuRow
    div.fl-module-uabb-advanced-menu.fl-module
    div.uabb-creative-menu
    .menu
    > li
    > a {
    font-size: 20px !important;
  }
}
@media (max-width: 1024px) {
  .gform_wrapper.gravity-theme .gfield.gfield--width-half {
    grid-column: span 12 !important;
  }
  .location-direction .direction a span {
    font-size: 12px !important;
  }
}

@media (max-width: 992px) {
  div#bigbobs_flooring_outlet .fl-row-content-wrap {
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
  }
}

@media (max-width: 768px) {
  .hours-sec ~ div.fl-module.fl-module-html,
  .hours-sec ~ div.fl-module.fl-module-html * {
    text-align: center !important;
    width: 100%;
  }
  .ip-location-page .store_reviews,
  footer * {
    text-align: center !important;
  }
  footer .uabb-creative-menu.uabb-menu-default .menu > li > a {
    padding-left: 10px !important;
  }
  button#rmp_menu_trigger-1282176 {
    top: 98px !important;
  }
  .header-location .fl-module-content.fl-node-content {
    margin-right: 20px !important;
    margin-top: 7px !important;
  }
  .location-add.map-above-loc,
  .location-add.map-above-loc * {
    text-align: center !important;
  }
  .store_services li a,
  .product_offered li a,
  .store_services .fl-page a.button {
    margin-right: 0px !important;
  }
  .topBar ~ .fl-row .uabb-photo-mob-align-center {
    text-align: left;
  }
  .open_sidebar {
    display: block !important;
  }
  .close_sidebar_button,
  .pdp_header_banner {
    display: none !important;
  }
  .facet_filters .fl-module-html > .fl-module-content {
    margin-bottom: -20px !important;
  }
  .financing-page {
    margin-top: -180px;
  }
  .coupon {
    display: none !important;
  }
  .gform_footer.top_label input {
    width: 100% !important;
  }
  .facetwp-facet.facetwp-type-dropdown select.facetwp-dropdown,
  .facetwp-facet.facetwp-facet-search.facetwp-type-search
    span.facetwp-input-wrap
    input.facetwp-search {
    height: 49px !important;
  }
  footer .uabb-creative-menu.uabb-menu-default .menu > li > a {
    padding-bottom: 6px !important;
    padding-top: 6px !important;
  }
}

@media (max-width: 767px) {
  button#rmp_menu_trigger-1282176 {
    top: 90px !important;
  }
  .map-above-loc > .fl-module-content {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  #ui-datepicker-div {
    left: 0px !important;
  }
  .map-above-loc > .fl-module-content * {
    text-align: center !important;
  }
  .ip-location-page .storename p,
  .map-above-loc p {
    width: 100% !important;
  }
  .ip-location-page .store_links_main {
    padding: 20px 20px 0 0;
  }
}

@media (max-width: 399px) {
  h2.uabb-infobox-title {
    font-size: 36px !important;
  }
}
