/**
Theme Name: Astra Child
Author: Brainstorm Force
Author URI: http://wpastra.com/about/
Description: Astra is the fastest, fully customizable & beautiful theme suitable for blogs, personal portfolios and business websites. It is very lightweight (less than 50KB on frontend) and offers unparalleled speed. Built with SEO in mind, Astra comes with schema.org code integrated so search engines will love your site. Astra offers plenty of sidebar options and widget areas giving you a full control for customizations. Furthermore, we have included special features and templates so feel free to choose any of your favorite page builder plugin to create pages flexibly. Some of the other features: # WooCommerce Ready # Responsive # Compatible with major plugins # Translation Ready # Extendible with premium addons # Regularly updated # Designed, Developed, Maintained & Supported by Brainstorm Force. Looking for a perfect base theme? Look no further. Astra is fast, fully customizable and beautiful theme!
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: astra-child
Template: astra
*/


div#ast-scroll-top {
    /* width: 2.1em !important; */
    height: 2.1em !important;
    font-size: .68181818181818rem;
}

body.page-template-default.page.page-id-1111378 div#primary {
    margin-top: 300px;
}

body.page-template-default.page.page-id-1111378.ast-separate-container .ast-article-single {
    padding: 0 !important;
}

.gform_wrapper .ginput_container.ginput_container_checkbox input, .gform_wrapper .ginput_container.ginput_container_radio input {
    vertical-align: middle;
}

.gfield_captcha_input_container.math_medium input {
    width: 90px;
}

ul.storename {
    list-style: none;
    padding-left: 0px!important;
    margin-left: 0px!important;
}
ul.storename p {
    list-style: none;
    padding-left: 0px!important;
    margin: 0px!important;
}
.ast-single-post .entry-header.ast-no-title.ast-no-thumbnail{
	margin-bottom:0px!important;
}
.footer_txt .fl-rich-text > p {
    padding-bottom: 0px!important;
    margin: 0px!important;
}
body.search .site-content {
    padding-top: 140px;
}
.breadcrumb {
    max-width: 1500px;
    margin: 0 auto;
	color: #fff;
    filter: drop-shadow(0px 2px 6px black);
}

.moove-gdpr-button-holder>button.mgbutton {
    background-color: #fff!important;
    color: #333!important;
    border-radius: 0px!important;
    font-family: "Montserrat",sans-serif!important;
    font-weight: 500!important;
    text-transform: uppercase!important;
    box-shadow: none !important;
    border: none!important;
  }
  .moove-gdpr-button-holder>button.mgbutton:hover {
    background: #95c840!important;
    color: #fff!important;
    text-transform: uppercase!important;
    border-color: #95c840!important;
  }
  #moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
    background-color: #003b4a!important;
    border-top: 1px solid #fff;
  }
#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
    color: #fff!important;
    opacity: 0.7;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button {
    color: #414042!important;
  }
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon {
    background-color: #003b4a!important;
    border: 1px solid #000!important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i:hover, 
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href]>u.change-settings-button {
    color: #414042!important;
    background-color: #fff!important;
  }
  button.moove-gdpr-infobar-close-btn:hover i {
    color: #414042 !important;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
    background-color: #003b4a!important;
    color: #fff!important;  
    border: 0px!important;
    border-radius: 0px!important;
    font-family: "Montserrat",sans-serif!important;
    font-weight: 500!important;
    text-transform: uppercase!important;  
      
  }
  #moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
    background: #95c840!important;
    color: #fff!important;
    border: 0px!important;
  }
  
  .moove-gdpr-tab-main-content a:hover {
    color: #003b4a!important;
  }

@media screen and (max-width: 992px) {

	body.page-template-default.page.page-id-1111378 div#primary {
		margin-top: 190px;
	}
	.gform-footer.gform_footer.top_label {
		text-align: center !important;
		justify-content: flex-start !important;
	}
	div#bigbobs_flooring_outlet .fl-row-content-wrap {
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
  }
}

@media screen and (max-width: 480px) {
	.uabb-gf-style.uabb-gf-form-style1 {
		padding: 0;
	}
	.gform_wrapper .ginput_container.ginput_container_checkbox input, .gform_wrapper .ginput_container.ginput_container_radio input {
		vertical-align: text-top;
	}
}